<header class="bg-[#0C0E2B]">
  <nav class="relative container mx-auto p-6">
    <div class="flex items-center justify-between">
      <div>
        <a
          class="cursor-pointer flex items-center justify-center"
          routerLink="/"
          ><img src="../../assets/images/logo_1.png" alt=""
        /></a>
      </div>
      <div class="hidden lg:flex space-x-12 text-white font-bold">
        <ul class="flex justify-between space-x-8 text-lg font-bold">
          <li>
            <a
              class="cursor-pointer text-white hover:text-purple-800 duration-300"
              routerLink=""
              >Home</a
            >
          </li>
          <li>
            <a
              class="cursor-pointer text-white hover:text-purple-800 duration-300"
              routerLink="/courses"
              >Courses</a
            >
          </li>
          <li>
            <a
              class="cursor-pointer text-white hover:text-purple-800 duration-300"
              >Add Course</a
            >
          </li>
          <li>
            <a
              class="cursor-pointer text-white hover:text-purple-800 duration-300"
              >My Courses</a
            >
          </li>
        </ul>
      </div>
      <div class="lg:hidden">
        <button
          class="text-white focus:outline-none"
          (click)="toggleBurgerMenu()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>
      </div>
      <!-- burger menu -->
      <div
        [ngClass]="{
          'burger-menu': true,
          slideIn: isBurgerMenuOpen,
          slideOut: !isBurgerMenuOpen
        }"
        class="lg:hidden fixed top-0 right-0 h-full w-full bg-purple-900 z-50"
      >
        <button
          class="close-btn focus:outline-none"
          (click)="toggleBurgerMenu()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
        <div class="flex flex-col items-center justify-center h-full">
          <ul class="text-white text-lg font-bold">
            <li>
              <a routerLink="/" class="menu-item">Home</a
              ><span class="menu-item-line"></span>
            </li>
            <li>
              <a routerLink="/courses" class="menu-item">Courses</a
              ><span class="menu-item-line"></span>
            </li>
            <li>
              <a class="menu-item">Add Course</a
              ><span class="menu-item-line"></span>
            </li>
            <li>
              <a class="menu-item">My Courses</a
              ><span class="menu-item-line"></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="hidden lg:flex items-center justify-center space-x-4">
        <div class="flex justify-center">
          <a
            class="flex items-center justify-center cursor-pointer hover:duration-300 duration-300 link-hover"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="26"
              viewBox="0 0 576 512"
              class="fill-white link-hover-svg"
            >
              <path
                d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
              />
            </svg>
          </a>
        </div>
        <div
          class="h-[45px] w-[45px] bg-transparent border border-white flex items-center justify-center cursor-pointer rounded-md hover:bg-purple-900 hover:duration-300 duration-300 hover:border-purple-900"
          routerLink="/profile"
          *ngIf="isLoggedIn"
        >
          <a
            class="flex items-center justify-center bg-transparent cursor-pointer"
            routerLink="/profile"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="18"
              width="20"
              viewBox="0 0 448 512"
            >
              <path
                fill="#ffffff"
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
              /></svg
          ></a>
        </div>
        <div
          class="h-[45px] w-[45px] bg-transparent border border-white flex items-center justify-center cursor-pointer rounded-md hover:bg-purple-900 hover:duration-300 duration-300 hover:border-purple-900"
          routerLink="/signup"
          *ngIf="!isLoggedIn"
        >
          <a
            class="flex items-center justify-center bg-transparent cursor-pointer"
            routerLink="/signup"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="18"
              width="20"
              viewBox="0 0 448 512"
            >
              <path
                fill="#ffffff"
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
              /></svg
          ></a>
        </div>
        <div *ngIf="!isLoggedIn">
          <a
            class="flex items-center justify-center text-center h-[40px] w-[100px] border border-purple-800 bg-purple-800 rounded-md hover:bg-[#0C0E2B] hover:duration-200 duration-200 cursor-pointer text-white font-semibold"
          >
            Get Started
          </a>
        </div>
        <div *ngIf="isLoggedIn">
          <button
            (click)="logOut()"
            class="flex items-center justify-center text-center h-[40px] w-[100px] border border-purple-800 bg-purple-800 rounded-md hover:bg-[#0C0E2B] hover:duration-200 duration-200 cursor-pointer text-white font-semibold"
          >
            Log Out
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
