<footer class="bg-[#0C0E2B]">
  <div class="container flex flex-col max-w-[1200px] px-[15px] w-full mx-auto">
    <div
      class="flex flex-row py-[80px] items-center justify-between border-t border-[#263546] space-x-7"
    >
      <div
        class="flex flex-col space-y-1 items-start justify-center text-start max-w-[380px]"
      >
        <h1 class="font-bold text-xl text-white">About Us</h1>
        <p class="text-lg text-[#9FA2CE]">
          orporate clients and leisure travelers has been relying on Groundlink
          for dependable safe, and professional chauffeured car end service in
          major cities across World.
        </p>
      </div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div></div>
  </div>
</footer>
