<section
  class="bg-[#170F2F] flex items-center justify-center pt-[170px] pb-[170px]"
>
  <div class="container flex items-center justify-start md:px-56">
    <div
      class="flex items-center justify-center text-center max-w-[1200px] px-[1rem]"
    >
      <h1 class="font-bold text-4xl text-white">{{ course_title }}</h1>
    </div>
    <div class="block box-border">
      <img
        loading="lazy"
        src="../../../assets/images/download.png"
        class="absolute hidden xs:block xl:right-[575px] top-[150px] lg:right-[350px] xs:right-[10px] img-animation1"
      />
      <img
        loading="lazy"
        src="../../../assets/images/download2.png"
        class="absolute hidden xs:block top-[375px] xl:left-[250px] lg:left-[100px] sm:left-[50px] xs:left-[10px] img-animation2"
      />
    </div>
  </div>
</section>
<section
  class="bg-[#0C0E2C] flex items-center justify-center py-32 flex-col space-y-16"
>
  <div class="container flex flex-row items-center justify-evenly space-x-36">
    <div class="flex flex-col items-center justify-center space-y-8">
      <div class="flex flex-row items-center justify-between buttons-div">
        <button
          (click)="switchToCurriculum()"
          class="flex items-center justify-center text-white bg-[#0c0e2b] h-[60px] w-[170px] hover:bg-[#5f2ded] duration-300 hover:duration-300 font-semibold rounded-[2px] border-r-2 border-[#312a57]"
        >
          Curriculum
        </button>
        <button
          (click)="switchToDescription()"
          [class.active]="isDescription"
          class="flex items-center justify-center text-white bg-[#0c0e2b] h-[60px] w-[170px] hover:bg-[#5f2ded] duration-300 hover:duration-300 font-semibold rounded-[2px] border-r-2 border-[#312a57] description-button"
        >
          Description
        </button>
        <button
          (click)="switchToReviews()"
          class="flex items-center justify-center text-white bg-[#0c0e2b] h-[60px] w-[170px] hover:bg-[#5f2ded] duration-300 hover:duration-300 font-semibold rounded-[2px] border-r-2 border-[#312a57]"
        >
          Reviews
        </button>
        <button
          [class.active]="isInstructor"
          (click)="switchToInstructor()"
          class="flex items-center justify-center text-white bg-[#0c0e2b] h-[60px] w-[170px] hover:bg-[#5f2ded] duration-300 hover:duration-300 font-semibold rounded-[2px] instructor-button"
        >
          Instructor
        </button>
      </div>
      <!-- DESCRIPTION -->
      <div
        *ngIf="isDescription"
        class="flex flex-col space-y-6 xl:w-[680px] xl:h-[470px]"
      >
        <div class="items-center justify-start">
          <h1 class="text-white text-4xl font-bold">Description</h1>
        </div>
        <div class="items-center justify-start">
          <p class="text-[#949392] text-lg font-normal">
            {{ description }}
          </p>
        </div>
      </div>
      <!-- INSTRUCTOR -->
      <div
        *ngIf="isInstructor"
        class="flex flex-row items-center justify-between"
      >
        <div class="flex items-start justify-center">
          <!-- <div
            class="lg:w-[120px] lg:h-[120px] sm:w-[80px] sm:h-[80px] xs:w-[60px] xs:h-[50px] w-[60px] h-[50px]"
          >
            <img
              class="w-full h-full object-cover rounded-full border-[2px] border-[#c4c4c4] p-[2px]"
              [src]="imageUrl"
              loading="lazy"
              *ngIf="imageUrl"
            />
            <img
              class="w-full h-full object-cover rounded-full border-[2px] border-[#c4c4c4] p-[2px]"
              src="../../../assets/images/casual-default-pfp-aesthetic-xbt951r8ftf29b58.jpg"
              loading="lazy"
              *ngIf="!imageUrl"
            />
          </div> -->
        </div>
        <div></div>
      </div>
    </div>
    <div>4</div>
  </div>
  <div class="flex items-center justify-center">
    <h1 class="text-white text-8xl font-bold">Coming Soon</h1>
  </div>
</section>
