<!-- Hero Section -->
<section class="pt-[200px] pb-[250px] bg-[#170f2f]">
  <div class="container flex items-center justify-center">
    <div
      class="flex flex-col-reverse md:flex-row items-center mx-[140px] px-[15px] space-y-0"
    >
      <div class="flex flex-col mb-32 space-y-8 md:w-1/2">
        <h3
          class="text-center md:text-left text-base font-medium text-[#F2277E] tracking-widest"
        >
          EDUCATIONAL SOLUTION
        </h3>
        <h1
          class="text-4xl font-bold text-center md:text-6xl md:text-left text-white"
        >
          Cloud-based LMS Trusted by 1000+
        </h1>
        <p
          class="text-base md:text-lg text-center font-semibold md:text-left text-white"
        >
          Lorem Ipsum is simply dummy text of the printing typesetting industry.
          Lorem Ipsum has been
        </p>
        <div class="flex flex-row space-x-4 items-center">
          <a
            class="flex items-center justify-center bg-[#5f2ded] w-[150px] h-[50px] border border-[#5f2ded] rounded-[4px] hover:bg-[#0C0E2B] duration-300 hover:duration-300 cursor-pointer text-white font-medium"
            >View Courses</a
          >
          <a
            class="flex items-center justify-center bg-[#F2277E] w-[150px] h-[50px] border border-[#F2277E] rounded-[4px] hover:bg-[#0C0E2B] duration-300 hover:duration-300 cursor-pointer text-white font-medium"
            >Explore More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
