<!-- Hero Section -->
<section
  class="flex items-center justify-center pt-[200px] pb-[250px] bg-[#170f2f]"
>
  <div class="container flex items-center justify-between">
    <div
      class="flex flex-col-reverse lg:flex-row items-center md:mx-[50px] px-[15px] space-y-6 justify-between xl:space-x-6 lg:space-x-12"
    >
      <div class="block box-border">
        <img
          loading="lazy"
          src="../../../assets/images/download.png"
          class="absolute hidden xs:block xl:left-[200px] top-[200px] lg:left-[100px] sm:left-[60px] xs:left-[30px] img-animation1"
        />
        <img
          loading="lazy"
          src="../../../assets/images/download2.png"
          class="absolute hidden lg:block xl:top-[730px] xl:left-[80px] opacity-[0.33] lg:left-[60px] lg:top-[850px] img-animation2"
        />
        <img
          loading="lazy"
          src="../../../assets/images/herobanner__4.png"
          class="absolute hidden lg:block xl:left-[980px] xl:top-[250px] lg:top-[280px] lg:left-[600px] img-animation3"
        />
      </div>
      <div class="flex flex-col mb-32 space-y-8 lg:w-1/2">
        <h3
          class="lg:text-left text-base font-medium text-[#F2277E] tracking-widest"
        >
          EDUCATIONAL SOLUTION
        </h3>
        <h1 class="text-4xl font-bold md:text-6xl lg:text-left text-white">
          Cloud-based LMS Trusted by 1000+
        </h1>
        <p class="text-base md:text-lg font-semibold lg:text-left text-white">
          Lorem Ipsum is simply dummy text of the printing typesetting industry.
          Lorem Ipsum has been
        </p>
        <div class="flex flex-row space-x-4 items-center">
          <a
            routerLink="/courses"
            class="flex items-center justify-center bg-[#5f2ded] w-[100px] h-[40px] sm:w-[150px] md:h-[50px] border border-[#5f2ded] rounded-[4px] hover:bg-[#0C0E2B] duration-300 hover:duration-300 cursor-pointer text-white font-medium sm:text-base text-sm"
            >View Courses</a
          >
          <a
            class="flex items-center justify-center bg-[#F2277E] w-[100px] h-[40px] sm:w-[150px] md:h-[50px] border border-[#F2277E] rounded-[4px] hover:bg-[#0C0E2B] duration-300 hover:duration-300 cursor-pointer text-white font-medium sm:text-base text-sm"
            >Explore More</a
          >
        </div>
      </div>

      <div>
        <img src="../../../assets/images/about_10 (1).png" alt="" />
      </div>
    </div>
  </div>
</section>
