<section
  class="bg-[#170F2F] flex items-center justify-center pt-[170px] pb-[170px]"
>
  <div class="container flex items-center justify-center">
    <div
      class="flex items-center justify-center text-center max-w-[1200px] px-[1rem]"
    >
      <h1 class="font-bold text-6xl text-white">My Courses</h1>
    </div>
    <div class="block box-border">
      <img
        loading="lazy"
        src="../../../assets/images/download.png"
        class="absolute hidden xs:block xl:right-[575px] top-[150px] lg:right-[350px] xs:right-[10px] img-animation1"
      />
      <img
        loading="lazy"
        src="../../../assets/images/download2.png"
        class="absolute hidden xs:block top-[375px] xl:left-[250px] lg:left-[100px] sm:left-[50px] xs:left-[10px] img-animation2"
      />
    </div>
  </div>
</section>
<section class="bg-[#0C0E2B] flex items-center justify-center py-20">
  <div
    class="container flex items-center justify-center mx-auto px-[15px] max-w-[1300px] w-full"
  >
    <!-- Added mx-auto class here -->
    <div class="flex flex-col items-center justify-center space-y-5 w-full">
      <!-- Center aligning the container -->
      <div
        class="flex flex-col lg:flex-row w-full items-start justify-between space-x-3"
      >
        <div
          class="w-full flex flex-wrap items-start justify-between px-[15px]"
        >
          <!-- Course Cards Content -->
          <div
            class="w-full sm:w-1/2 lg:w-1/4 p-4 card-container"
            *ngFor="let course of mycourses"
          >
            <div
              class="bg-[#17093e] hover:bg-[#0C0E2B] duration-300 hover:duration-300 border border-[#17093e] hover:border-[#5f2ded] rounded-lg course-card p-[15px] flex flex-col items-start justify-between h-[320px] cursor-pointer"
            >
              <!-- Course Image -->
              <div class="mb-4">
                <img
                  [src]="course.imageUrl"
                  alt="Course Image"
                  class="w-full h-full object-cover rounded-lg"
                />
              </div>
              <!-- Course Details -->
              <div>
                <h3 class="text-white text-lg font-semibold mb-2">
                  {{ course.course_title }}
                </h3>
                <p class="text-gray-300 mb-2">{{ course.description }}</p>
                <div class="flex items-center text-gray-300 mb-2">
                  <span class="mr-2">Price: {{ course.price }}$</span>
                </div>
                <div class="flex items-center">
                  <img
                    src=""
                    alt="User Avatar"
                    class="w-8 h-8 rounded-full mr-2"
                  />
                  <span class="text-gray-300 mr-4">username</span>
                  <a
                    class="px-3 py-1 bg-[#5f2ded] text-white rounded-md mr-2 cursor-pointer opacity-0 transition-opacity duration-300 edit-button border border-[#5f2ded] hover:bg-[#0C0E2B] hover:duration-400"
                    >Edit</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 flex justify-center pagination">
        <button
          class="px-3 py-1 bg-[#5f2ded] text-white rounded-md mr-2 cursor-pointer"
          (click)="prevPage()"
          [disabled]="currentPage === 1"
        >
          Previous
        </button>
        <button
          class="px-3 py-1 bg-[#5f2ded] text-white rounded-md mr-2 cursor-pointer"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages.length"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</section>
