@keyframes dot-anim {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.img-animation1 {
  animation: 3s linear 0s infinite alternate none running dot-anim;
}

.img-animation2 {
  animation: 3s linear 0s infinite normal none running move5;
}

.card-container:hover .edit-button {
  opacity: 1;
}
