<section
  class="bg-[#0D0E2C] flex items-center justify-center pt-[100px] pb-[200px]"
>
  <div
    class="container flex flex-col items-center justify-center space-y-8 px-[20px] md:px-[150px]"
  >
    <div
      class="flex flex-col lg:flex-row items-center justify-between bg-[#03a9f4] p-[20px] md:p-[30px] rounded-[20px] gap-4 xl:gap-72"
    >
      <div class="flex flex-row space-x-3 items-center justify-start">
        <div
          class="lg:w-[120px] lg:h-[120px] sm:w-[80px] sm:h-[80px] xs:w-[60px] xs:h-[50px] w-[60px] h-[50px]"
        >
          <img
            class="w-full h-full object-cover rounded-full border-[2px] border-[#c4c4c4] p-[2px]"
            [src]="imageUrl1"
            loading="lazy"
            *ngIf="imageUrl1"
          />
          <img
            class="w-full h-full object-cover rounded-full border-[2px] border-[#c4c4c4] p-[2px]"
            src="../../../assets/images/casual-default-pfp-aesthetic-xbt951r8ftf29b58.jpg"
            loading="lazy"
            *ngIf="!imageUrl1"
          />
        </div>

        <div class="flex flex-col space-y-2 items-start justify-start">
          <h4 class="text-lg md:text-xl font-bold text-white">
            {{ username1 }}
          </h4>
          <ul
            class="flex flex-wrap items-center justify-start xl:space-x-12 md:space-x-4 lg:space-x-0"
          >
            <li
              class="text-sm md:text-base text-[#0c0e2b] flex items-center gap-1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
                width="18px"
                height="24px"
              >
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  fill="#000000"
                  d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5V78.6c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8V454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5V83.8c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11V456c0 11.4 11.7 19.3 22.4 15.5z"
                />
              </svg>
              Courses Enrolled
            </li>
            <li
              class="text-sm md:text-base text-[#0c0e2b] flex items-center gap-1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                width="18px"
                height="24px"
              >
                <path
                  fill="#000000"
                  d="M211 7.3C205 1 196-1.4 187.6 .8s-14.9 8.9-17.1 17.3L154.7 80.6l-62-17.5c-8.4-2.4-17.4 0-23.5 6.1s-8.5 15.1-6.1 23.5l17.5 62L18.1 170.6c-8.4 2.1-15 8.7-17.3 17.1S1 205 7.3 211l46.2 45L7.3 301C1 307-1.4 316 .8 324.4s8.9 14.9 17.3 17.1l62.5 15.8-17.5 62c-2.4 8.4 0 17.4 6.1 23.5s15.1 8.5 23.5 6.1l62-17.5 15.8 62.5c2.1 8.4 8.7 15 17.1 17.3s17.3-.2 23.4-6.4l45-46.2 45 46.2c6.1 6.2 15 8.7 23.4 6.4s14.9-8.9 17.1-17.3l15.8-62.5 62 17.5c8.4 2.4 17.4 0 23.5-6.1s8.5-15.1 6.1-23.5l-17.5-62 62.5-15.8c8.4-2.1 15-8.7 17.3-17.1s-.2-17.4-6.4-23.4l-46.2-45 46.2-45c6.2-6.1 8.7-15 6.4-23.4s-8.9-14.9-17.3-17.1l-62.5-15.8 17.5-62c2.4-8.4 0-17.4-6.1-23.5s-15.1-8.5-23.5-6.1l-62 17.5L341.4 18.1c-2.1-8.4-8.7-15-17.1-17.3S307 1 301 7.3L256 53.5 211 7.3z"
                />
              </svg>
              Certificate
            </li>
          </ul>
        </div>
      </div>
      <div class="flex items-end justify-end md:justify-end">
        <div class="flex items-center justify-center">
          <a
            routerLink="/courses"
            class="flex items-center justify-center py-[8px] px-[16px] md:py-[10px] md:px-[20px] lg:px-[25px] bg-[#f2277e] border border-[#f2277e] rounded-[4px] text-white font-semibold cursor-pointer"
            >Enroll A New Course
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                width="24px"
                height="24px"
                style="margin-left: 8px"
              >
                <path
                  fill="#fff"
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                /></svg
            ></span>
          </a>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col space-y-6 items-center justify-center py-[20px] md:py-[50px] px-[10px] md:px-[40px] rounded-[20px] bg-[#0c0e2b] max-w-screen-lg w-full"
      style="box-shadow: 0 0 1px 1px rgba(95, 45, 237, 0.2)"
    >
      <div
        class="flex items-start justify-start py-3 border-b-2 border-[#312A57] w-full"
      >
        <h1 class="text-white text-start font-bold text-lg md:text-2xl">
          My Profile
        </h1>
      </div>
      <div class="flex items-center justify-start w-full">
        <div class="flex items-start justify-start w-full">
          <ul class="flex flex-col space-y-3 items-start justify-start w-full">
            <li
              class="flex flex-row space-x-4 md:space-x-12 items-start w-full"
            >
              <div
                class="flex items-start justify-start text-start w-full md:w-1/5"
              >
                <h2 class="text-white font-normal text-sm md:text-lg">Email</h2>
              </div>
              <div
                class="flex items-start justify-start text-start w-full md:w-2/3"
              >
                <h2 class="text-white font-normal text-sm md:text-lg">
                  {{ email1 }}
                </h2>
              </div>
            </li>
            <li
              class="flex flex-row space-x-4 md:space-x-12 items-start w-full"
            >
              <div
                class="flex items-start justify-start text-start w-full md:w-1/5"
              >
                <h2 class="text-white font-normal text-sm md:text-lg">
                  Username
                </h2>
              </div>
              <div
                class="flex items-start justify-start text-start w-full md:w-2/3"
              >
                <h2 class="text-white font-normal text-sm md:text-lg">
                  {{ username1 }}
                </h2>
              </div>
            </li>
            <li
              class="flex flex-row space-x-4 md:space-x-12 items-start w-full"
            >
              <div
                class="flex items-start justify-start text-start w-full md:w-1/5"
              >
                <h2 class="text-white font-normal text-sm md:text-lg">
                  Description
                </h2>
              </div>
              <div
                class="flex items-start justify-start text-start w-full md:w-2/3"
              >
                <h2 class="text-white font-normal text-sm md:text-lg">
                  {{ description1 }}
                </h2>
              </div>
            </li>
            <li>
              <button
                (click)="showEditForm = true"
                class="flex items-center justify-center bg-[#5f2ded] w-[100px] h-[40px] sm:w-[150px] md:h-[50px] border border-[#5f2ded] rounded-[4px] hover:bg-[#0C0E2B] duration-300 hover:duration-300 cursor-pointer text-white font-medium sm:text-base text-sm"
              >
                Edit Account
              </button>
            </li>
            <li>
              <button
                (click)="deleteUser()"
                class="flex items-center justify-center bg-red-600 w-[100px] h-[40px] sm:w-[150px] md:h-[50px] border border-red-600 rounded-[4px] hover:bg-[#0C0E2B] duration-300 hover:duration-300 cursor-pointer text-white font-medium sm:text-base text-sm"
              >
                Delete Account
              </button>
            </li>
          </ul>
        </div>
        <div
          *ngIf="showEditForm"
          class="fixed inset-0 overflow-y-auto flex items-center justify-center z-50"
        >
          <div
            class="absolute bg-white shadow-md rounded-lg p-8 w-full max-w-md"
          >
            <h2 class="text-xl font-bold mb-4">Edit Account</h2>

            <form
              class="flex flex-col space-y-3"
              [formGroup]="editForm"
              (ngSubmit)="editAccount()"
            >
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Username</label
                >
                <input
                  type="text"
                  [(ngModel)]="username"
                  name="username"
                  formControlName="username"
                  class="w-full sm:w-96 bg-transparent border border-[#312a57] h-[40px] rounded outline-none px-3 py-[3px] text-purple-600 font-semibold text-base"
                />
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Description</label
                >
                <textarea
                  [(ngModel)]="description"
                  rows="3"
                  name="description"
                  formControlName="description"
                  class="w-full sm:w-96 bg-transparent border border-[#312a57] rounded outline-none px-3 py-[3px] text-purple-600 font-semibold text-base"
                ></textarea>
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Image</label
                >
                <input
                  type="file"
                  (change)="onFileSelected($event)"
                  class="w-full sm:w-96 bg-transparent outline-none py-[3px] text-purple-600 font-semibold text-base"
                />
              </div>
              <button
                type="submit"
                class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
              >
                Save
              </button>
              <button
                type="button"
                (click)="showEditForm = false"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
        <div
          *ngIf="showEditForm"
          class="fixed inset-0 bg-black opacity-25"
        ></div>
      </div>
    </div>
  </div>
</section>
