<section class="bg-[#0C0E2B] flex items-center justify-center py-12">
  <div
    class="container flex flex-col items-center justify-center space-y-4 mx-[143.5px]"
  >
    <div class="flex flex-row items-center justify-between space-x-32">
      <div class="flex flex-col items-start justify-start space-y-2">
        <div
          class="py-[5px] px-[23px] font-semibold text-sm text-[#5f2ded] rounded-[20px] bg-[#e7deff] text-center"
        >
          Course List
        </div>
        <h2 class="text-4xl font-bold text-white relative z-0">
          Popular <span class="subject-span relative z-0">Subjects</span>
        </h2>
      </div>
      <div>
        <p class="max-w-[420px] text-base text-white font-semibold">
          Forging relationships between multi to national governments and global
          NGOs begins.
        </p>
      </div>
      <div>
        <a
          class="flex items-center justify-center bg-[#F2277E] w-[100px] h-[40px] sm:w-[150px] md:h-[50px] border border-[#F2277E] rounded-[4px] hover:bg-[#0C0E2B] duration-300 hover:duration-300 cursor-pointer text-white font-medium sm:text-base text-sm hover:text-[#F2277E]"
          >All Categories</a
        >
      </div>
    </div>
    <!-- categories  -->
    <div></div>
  </div>
</section>
