<section
  class="bg-[#170F2F] flex items-center justify-center pt-[170px] pb-[170px]"
>
  <div class="container flex items-center justify-center">
    <div
      class="flex items-center justify-center text-center max-w-[1200px] px-[1rem]"
    >
      <h1 class="font-bold text-6xl text-white">Add Course</h1>
    </div>
    <div class="block box-border">
      <img
        loading="lazy"
        src="../../../assets/images/download.png"
        class="absolute hidden xs:block xl:right-[575px] top-[150px] lg:right-[350px] xs:right-[10px] img-animation1"
      />
      <img
        loading="lazy"
        src="../../../assets/images/download2.png"
        class="absolute hidden xs:block top-[375px] xl:left-[250px] lg:left-[100px] sm:left-[50px] xs:left-[10px] img-animation2"
      />
    </div>
  </div>
</section>
<section class="flex items-center justify-center py-[60px] bg-[#0C0E2B]">
  <div class="container flex items-center justify-center px-4">
    <div class="flex flex-col items-center justify-center space-y-8 w-full">
      <div
        class="flex flex-col items-center justify-center bg-[#0C0E2B] p-4 md:p-8 lg:p-12 w-full max-w-3xl login-box"
      >
        <form
          class="space-y-5 w-full"
          [formGroup]="courseForm"
          (ngSubmit)="createCourse()"
        >
          <div
            class="flex flex-col space-y-3 items-start justify-start py-4 w-full"
          >
            <label class="text-white text-base sm:text-lg">Course Title</label>
            <input
              type="text"
              formControlName="course_title"
              name="course_title"
              required
              class="w-full bg-transparent border border-[#312a57] h-[40px] sm:h-[52px] rounded outline-none px-[20px] py-[3px] text-white font-semibold text-base"
            />
            <div *ngIf="">
              <p *ngIf="" class="text-purple-400">Username is required.</p>
              <p *ngIf="" class="text-purple-400">Invalid Username.</p>
            </div>
            <label class="text-white text-base sm:text-lg"
              >Regular Price $</label
            >
            <input
              type="text"
              formControlName="price"
              name="price"
              required
              class="w-full bg-transparent border border-[#312a57] h-[40px] sm:h-[52px] rounded outline-none px-[20px] py-[3px] text-white font-semibold text-base"
            />
            <div *ngIf="">
              <p *ngIf="" class="text-purple-400">Username is required.</p>
              <p *ngIf="" class="text-purple-400">Invalid Username.</p>
            </div>
            <label class="block text-sm font-medium text-gray-700">Image</label>
            <input
              type="file"
              (change)="onFileSelected($event)"
              class="w-full bg-transparent outline-none py-[3px] text-purple-600 font-semibold text-base"
            />
            <div *ngIf="">
              <p *ngIf="" class="text-purple-400">Image is required.</p>
              <p *ngIf="" class="text-purple-400">Invalid image.</p>
            </div>
            <label class="text-white text-base sm:text-lg">Description</label>
            <textarea
              rows="8"
              name="description"
              formControlName="description"
              class="w-full bg-transparent border border-[#312a57] rounded outline-none px-[20px] py-[3px] text-white font-semibold text-base"
            ></textarea>
            <div *ngIf="">
              <p *ngIf="" class="text-purple-400">Password is required.</p>
              <p *ngIf="" class="text-purple-400">
                Password should be at least 8 characters.
              </p>
            </div>
          </div>
          <div class="flex items-center justify-center">
            <button
              type="submit"
              class="w-full max-w-xs px-[25px] py-[10px] bg-[#5f2ded] text-center text-white font-semibold text-base border border-[#5f2ded] rounded hover:bg-[#0C0E2B] hover:duration-200 duration-200"
            >
              Create Course
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
