@keyframes dot-anim {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.img-animation1 {
  animation: 3s linear 0s infinite alternate none running dot-anim;
}

.img-animation2 {
  animation: 3s linear 0s infinite normal none running move5;
}

.course-card {
  box-shadow: 0 0 20px 10px rgba(95, 45, 237, 0.1);
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 8px 16px;
  margin-right: 8px;
  background-color: #5f2ded;
  color: white;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #360ea5;
}

.pagination button:disabled {
  background-color: #a0aec0;
  cursor: not-allowed;
}
