<section
  class="bg-[#170F2F] flex items-center justify-center pt-[170px] pb-[170px]"
>
  <div class="container flex items-center justify-center">
    <div
      class="flex items-center justify-center text-center max-w-[1200px] px-[1rem]"
    >
      <h1 class="font-bold text-6xl text-white">Courses</h1>
    </div>
    <div class="block box-border">
      <img
        loading="lazy"
        src="../../../assets/images/download.png"
        class="absolute hidden xs:block xl:right-[575px] top-[150px] lg:right-[350px] xs:right-[10px] img-animation1"
      />
      <img
        loading="lazy"
        src="../../../assets/images/download2.png"
        class="absolute hidden xs:block top-[375px] xl:left-[250px] lg:left-[200px] md:left-[100px] sm:left-[50px] xs:left-[10px] img-animation2"
      />
    </div>
  </div>
</section>
<section></section>
