<section class="bg-[#0C0E2B] flex items-center justify-center">
  <div class="container flex items-center justify-between">
    <div
      class="flex flex-col lg:flex-row lg:px-[15px] lg:mx-auto items-center space-y-6 justify-between lg:space-x-12 py-44"
    >
      <div class="px-[15px]">
        <img src="../../../assets/images/asd-removebg-preview.png" alt="" />
      </div>
      <div class="flex flex-col mb-32 space-y-8 lg:w-1/2">
        <h3
          class="lg:text-left text-sm font-medium text-[#F2277E] tracking-widest"
        >
          EDUCATIONAL SOLUTION
        </h3>
        <h1 class="text-4xl font-bold md:text-5xl lg:text-left text-white">
          Welcome to the online Learning Center
        </h1>
        <div
          class="flex items-start justify-start text-left text-white border-l border-[#5F2DED]"
        >
          <p class="p-2 text-left text-base font-normal max-w-[530px]">
            25+Contrary to popular belief, Lorem Ipsum is not simply random text
            roots in a piece of classical Latin literature from 45 BC
          </p>
        </div>
        <div class="flex flex-col items-start justify-start space-y-4">
          <ul class="space-y-4">
            <li class="flex justify-between space-x-2 items-center">
              <a
                class="hover:text-white w-[31px] h-[33px] flex items-center justify-center bg-[#100F32] duration-200 hover:duration-200 hover:bg-[#5F2DED] cursor-pointer link-hover"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="17"
                  viewBox="0 0 448 512"
                  class="fill-[#5F2DED] link-hover-svg"
                >
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
                  /></svg
              ></a>
              <h3 class="text-white text-base font-semibold">
                Explore a variety of fresh educational teach
              </h3>
            </li>
            <li class="flex justify-between space-x-2 items-center">
              <a
                class="hover:text-white w-[31px] h-[33px] flex items-center justify-center bg-[#100F32] duration-200 hover:duration-200 hover:bg-[#5F2DED] cursor-pointer link-hover"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="17"
                  viewBox="0 0 448 512"
                  class="fill-[#5F2DED] link-hover-svg"
                >
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
                  /></svg
              ></a>
              <h3 class="text-white text-base font-semibold">
                Explore a variety of fresh educational teach
              </h3>
            </li>
            <li class="flex justify-between space-x-2 items-center">
              <a
                class="hover:text-white w-[31px] h-[33px] flex items-center justify-center bg-[#100F32] duration-200 hover:duration-200 hover:bg-[#5F2DED] cursor-pointer link-hover"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="17"
                  viewBox="0 0 448 512"
                  class="fill-[#5F2DED] link-hover-svg"
                >
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
                  /></svg
              ></a>
              <h3 class="text-white text-base font-semibold">
                Explore a variety of fresh educational teach
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
