@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 1px #000000;
}

::-webkit-scrollbar-thumb {
  background: #5f2ded;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar {
  width: 12px;
  background: #0c0e2b;
  border: none;
}
::-webkit-scrollbar-track {
  background: #0c0e2b;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar-track-piece {
  background-color: #0c0e2b;
  border: none;
}
